<form class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <input name="text" id="text" type="text" [(ngModel)]="text" placeholder="Add Task" />
    </div>
    <div class="form-control">
        <label for="day">Day & Time</label>
        <input name="day" id="day" type="text" [(ngModel)]="day" placeholder="Add Day & Time" />
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Reminder</label>
        <input name="reminder" id="reminder" [(ngModel)]="reminder" type="checkbox" />
    </div>
    <div>
        <button type="submit" class="btn btn-block">Save Task</button>
    </div>
</form>